{% extends 'malsearch/dash_base.html' %}

{% block main %}
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Sample Info</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        {% if favorited %}
                            <button type="button" id="fvtd" class="btn btn-sm btn-outline-secondary active" role="button" aria-pressed="true"
                                    onclick="unfavorite()">Favorited
                            </button>
                        {% else %}
                            <button type="button" id="fvt" class="btn btn-sm btn-outline-secondary" role="button"
                                    onclick="favorite()">Favorite
                            </button>
                        {% endif %}
                        <a href="{% url 'sample_detail_export' sample.sample_id %}" target="_blank" rel="noopener noreferrer"
                           class="btn btn-sm btn-outline-secondary">Export</a>
                    </div>
                </div>
            </div>
            <dl>
                <dt>Filename</dt>
                <dd>{{ sample.file_name }}</dd>
                <dt>File Path</dt>
                <dd>{{ sample.file_path }}</dd>
                <dt>File Size</dt>
                <dd>{{ sample.file_size }} bytes</dd>

                <dt>MD5 Hash</dt>
                <dd>{{ sample.hash_md5 }}</dd>
                <dt>SHA1 Hash</dt>
                <dd>{{ sample.hash_sha1 }}</dd>
                <dt>SHA256 Hash</dt>
                <dd>{{ sample.hash_sha256 }}</dd>

                <dt>Date Added</dt>
                <dd>{{ sample.date_added }}</dd>

                <dt>Last Scanned</dt>
                <dd>{{ sample.last_scanned }}</dd>
            </dl>

            <h3 class="mt-5">Scan History</h3>
            {% for scan in scans %}
                <hr>
                <dl>
                    <dt>Date Scanned</dt>
                    <dd>{{ scan.date_time_scanned }}</dd>

                    <dt>File Type</dt>
                    <dd>{{ scan.file_type }}</dd>
                    <dt>Platform</dt>
                    <dd>{{ scan.platform }}</dd>
                </dl>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <form class="mb-3" method="post" action="{% url 'sample_detail' sample.sample_id %}">
                {% csrf_token %}
                {#                {{ comment_form.as_p }}#}
                {#                <div class="form-group">#}
                {#                    <input type="hidden" id="id_user_id" name="user_id" value="{{ request.user.id }}">#}
                {#                </div>#}
                {#                <div class="form-group">#}
                {#                    <label for="id_comment">Comment: </label>#}
                {#                    <textarea class="form-control" id="id_comment">{{ comment }}</textarea>#}
                {#                </div>#}
                <div class="form-group">
                    {{ comment_form.sample }}
                </div>
                <div class="form-group">
                    {{ comment_form.user }}
                </div>
                <div class="form-group">
                    {{ comment_form.comment.label_tag }}
                    <textarea class="form-control" id="{{ comment_form.comment.id_for_label }}" name="{{ comment_form.comment.name }}"
                              rows="40">{{ comment_form.comment.value }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Comment</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        const tokenHeaders = new Headers({
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
        })

        const spinner = document.createElement("span")
        spinner.setAttribute("class", "spinner-border spinner-border-sm")
        spinner.setAttribute("role", "status")

        function favorite() {
            const fvt = document.getElementById('fvt')
            fvt.appendChild(spinner)
            fvt.disabled = true

            fetch('{% url 'sample_favorite' sample.sample_id %}', {
                method: 'POST',
                mode: 'same-origin',
                headers: tokenHeaders
            })
                .then(resp => {
                    if (resp.status === 201) {
                        location.reload()
                    } else {
                        alert('Could Not Favorite')
                        fvt.removeChild(spinner)
                        fvt.disabled = false
                    }
                })
        }

        function unfavorite() {
            const fvtd = document.getElementById("fvtd")
            fvtd.appendChild(spinner)
            fvtd.disabled = true

            fetch('{% url 'sample_favorite' sample.sample_id %}', {
                method: 'DELETE',
                mode: 'same-origin',
                headers: tokenHeaders
            })
                .then(resp => {
                    if (resp.status === 204) {
                        location.reload()
                    } else {
                        alert('Could Not Remove Favorite')
                        fvtd.removeChild(spinner)
                        fvtd.disabled = false
                    }
                })
        }
    </script>
{% endblock %}
